<h1>Edit Page</h1>
<form action="/tweets/<%= @tweet.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
 Edit Content: <input type="text" name="content" value="content" id="content">

  <input type="submit" value="Submit Updated Edits">
</form>