<h1>Show Page</h1> 
<%= @tweet.content %> 

<form action="/tweets/<%= @tweet.id %>" method="post">
Tweet Content
  <input id="hidden" type="hidden" name="_method" >
  <input type="text" name="content">
  <input type="submit" value="Delete Tweet">
  <input type="submit" value="Edit Tweet">
  <input type="submit" value="Submit">
  
</form>

<!--display info for a single tweet: tweet id has the user_id and content-->